/* General for fonts and colors */
body {
  margin: 100px;
  font-family: 'Oswald', sans-serif;
  background-color: #ebebeb;
}
/*# font-family: 'Oswald', sans-serif#*/
/*#ebebeb #f2d1a8*/
h1, h2, h3 {
  font-family: Raleway, Helvetica, sans-serif;
}

.images {
  width: 400px;
  height: 300px;
}

.profile-beige {
  border: 10px;
  background-color: #FFEDDF;
  padding: 20px 4px 6px 10px;
  margin: 15px 15px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

#profile-pic {
  border-radius: 8px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.find_me_on {
  border: 100px #2AA9E0;
  text-align: center;
  background-color: #FFEDDF;
  margin: 15px 15px;
  border-radius: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 24px;
}

.list-inline li {
  padding: 50px;
  display: inline;
}

.favourite-shape {
  font-family: 'Oswald', sans-serif;
  padding-top: 10px;
  background-color: #FFEDDF;
  padding: 2px 4px 6px 8px;
  margin: 15px 15px;
  text-align: center;
  box-shadow: 2px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.text-center {
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  color: green;
}


